.settings_page_imgur_image_upload_settings .nav-tab-help { float: right; }

body.settings_page_imgur_image_upload_settings .review-hint-button:after {
	color: #d4af37;
	content: "\f155 \f155 \f155 \f155 \f155";
	display: inline-block;
	font-family: "dashicons", sans-serif;
	margin-left: 8px;
}

.imgur-image-upload-transient img { width: 80px }
